
body {
    margin: 50px;
    padding:100px;
    background-color: gold;
    color: #fff;
}


.navbar {
    background-color: black;
    padding: 10px 20px;
}

logo {
    color: gold;

    font-size: 2.5em;

    margin: 20px;
}


h1 {

    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    text-align: center;
}


.nav-links {
    list-style: none;
    padding: 100px;
    margin:50px;
    display: flex;
}


