
body {
    margin: 50px;
    padding: 56px;
    background-color: gold;
    color: purple
    ;
}


h1~p{
color: black
;
}
h2~p{
    color: black;
}
h3~p{
    color: white;
}
h4~p{
    color: green;
}

.div1 {
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
padding-left: 10px;
}
.div2{
padding: 5px 10px 5px 10px;
}
.div3 {
padding: 5px 10px;
}



h1 {

    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    text-align: center;
}







#forwardThinking {
  color: purple;
  background: black;
}

