h1{
border: black;
padding: 50px;
margin: 20px;



#body {
  margin: ;
  background-color: #000;
  color: #fff;
}

#logo {
color:gold
font-size:

.navbar {
  background-color: black
  padding: 30px 40px

