

    display: grid;
    grid-template-columns: 300px  1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:

    align-items:center;
    justify-content:center;
    align-content: center;


.item-1{
height: 50px
width: 100px
padding: 2em
  grid-area:header ;
}


.wrapper{
border-radius: 1rem;
width: 85%;
position: relative;
}



.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.image-gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
