.box > * {
  border: 2px solid rgb(78, 31, 105);
  border-radius: 5px;
  background-color: rgba(255, 251, 8, 0.07);
}


.grid-container {
    display: grid;
    grid-template-columns: 300px  1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:

    align-items:center;
    justify-content:center;
    align-content: center;
}


.item-1{
height: 50px
width: 100px
padding: 2em
  grid-area:header ;
}
.item-2{
  grid-area: main;
}
.item-3{
  grid-area: aside;
}
.item-4{
  grid-area:footer;
}
@media (max-width: 667px) {
  body{
  font-size: 14px;
  color:blue;
}


.wrapper{
border-radius: 1rem;
width: 85%;
position: relative;
}



.image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.image-gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
